/* @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jost";
  src: url("/assets/fonts/Jost.ttf");
}

@font-face {
  font-family: "Alata";
  src: url("/assets/fonts/Alata.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway.ttf");
}

@font-face {
  font-family: "Albert Sans";
  src: url("/assets/fonts/Albert.ttf");
}

* {
  @apply font-alata;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr{
  @apply border-colorBorder-200;
}

.font-albert * {
  font-family: "Albert Sans", sans-serif;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active::after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}